game.o
.vscode/
*.apk
Android/GahoodTetrisProject/libs
Android/GahoodTetrisProject/gen
Android/GahoodTetrisProject/obj
Android/GahoodTetrisProject/bin
Android/GahoodTetrisProject/jni/SDL2
Android/GahoodTetrisProject/jni/SDL2_image
